.gradient-background {
    background: linear-gradient(90deg, rgba(0,92,124,1) 0%, rgba(13,149,176,1) 22%, rgba(0,184,205,1) 43%, rgba(0,200,207,1) 75%, rgba(0,207,212,1) 100%);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  .profil-pic{
    border-radius: 50%;
    height: 125px;
  }

.click-here{
    font-weight: bold;
    text-decoration: none;
    color: rgb(8, 110, 116);
}
.click-here:hover{
    color:rgb(17, 178, 187);
}
.navbar {
    display: flex;
    justify-content: flex-start;
    padding-left:4%
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    text-weight:900;
}

.nav-item a:hover {
    color: white;
}